*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
    height: 100%;
}

/* .bg-img{
    background-image: url('../img/bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px;
    height: 100%;
    filter: blur(5px); 
} */

.auth-title{
    margin-top: 2rem;
}

.auth-title h1{
    font-size: 2rem;
    /* color: #fff; */
}

.list-container{
    margin: 1rem;
}

.list-container ul li{
    color:#0f0f0f
}

.list-group a{
    text-decoration: none; 
}

.list-group :hover{
   background-color: lightgray;
   color:  #fafafa;
}

.list-container ul span{
   margin-left: 2rem;
}


.form-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgb(102, 101, 101) ;
}